.notificaton-bar{
    position: relative;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-top: 20px;
    
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
  
  }
  
  .close-button:hover {
    color: #721c24;
  }

  .terminal {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
  }
  
  .terminal p {
    margin: 0;
    line-height: 1.4;
  }
  
  .terminal input {
    background-color: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    width: 100%;
  }
  
  .terminal .output {
    color: lime;
  }
  
  .terminal .error {
    color: red;
  }
  